{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}


{% block content%}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="card" style="margin-top: 1px;padding-top: 0%;"></div>
			<figure class="text-center">
				<blockquote class="blockquote">
					<p>{{ quotes.quote }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Source Title"> ~~{{quotes.author}}</cite>
				</figcaption>
			</figure>
		</div>
	</div>
</div>
<h1 style="margin-bottom: 2px;text-align: center;">FEATURED BLOGS</h1>


        <div class="div">
            {{macro.displayblog(blog)}}
        </div>
{% endblock %}



