{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}



        {% block content%}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="card" style="margin-top: 50px;align-items: center;"></div>
    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
			<figure class="text-center text-pink">
				<blockquote class="blockquote">
					<p>{{ quotes.quote }}</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					<cite title="Source Title"> ~~{{quotes.author}}</cite>
				</figcaption>
			</figure>
		</div>
    </div>
</div>
</div>
</div>
{% endblock %}



