{% macro displayblog(blog)%}
{% if  blog%}
    {%for blog in blog%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg">
                <h4>{{blog.title}}</h4>
                <p>{{blog.blog}}</p>
				<p>Created by: {{blog.author}}</p>
            
            <button><a href="{{url_for("main.comment",blog_id=blog.id)}}">Comment</a></button>
            <button><a href="{{url_for("main.edit_blogs",id=blog.id)}}">Edit</a>{{blog.edit_blogs}}</button>
            <button><a href="{{url_for("main.delete_blog",blog_id=blog.id)}}">Delete</a></button>
            
            </div>
        </div>
    {%endfor%}
{%endif%}
{%endmacro%}